
<HTML>
<HEAD>

<TITLE>raspisan</TITLE>
</HEAD>
<BODY LINK="#0000ff" VLINK="#800080">

<FONT FACE="Times New Roman" SIZE=6 COLOR="#0000ff"><P>Расписание занятий студентов </P>
</FONT><FONT SIZE=5></FONT>
<TABLE BORDER CELLSPACING=1 CELLPADDING=3 WIDTH=680>
<TR><TD WIDTH="17%" VALIGN="TOP">
<FONT FACE="Times New Roman" SIZE=5 COLOR="#ff00ff"><P ALIGN="CENTER"> 1 курс </FONT></TD>
<TD WIDTH="17%" VALIGN="TOP">
<FONT FACE="Times New Roman" SIZE=5 COLOR="#ff00ff"><P ALIGN="CENTER"> 2 курс </FONT></TD>
<TD WIDTH="17%" VALIGN="TOP">
<FONT FACE="Times New Roman" SIZE=5 COLOR="#ff00ff"><P ALIGN="CENTER"> 3 курс </FONT></TD>
<TD WIDTH="17%" VALIGN="TOP">
<FONT FACE="Times New Roman" SIZE=5 COLOR="#ff00ff"><P ALIGN="CENTER"> 4 курс </FONT></TD>
<TD WIDTH="17%" VALIGN="TOP">
<FONT FACE="Times New Roman" SIZE=5 COLOR="#ff00ff"><P ALIGN="CENTER"> 5 курс </FONT></TD>
<TD WIDTH="17%" VALIGN="TOP">
<FONT FACE="Times New Roman" SIZE=5 COLOR="#ff00ff"><P ALIGN="CENTER"> 6 курс </FONT></TD>
</TR>

