<TR><TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER"><FONT FACE="Arial">Пары</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">1-я</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">2-я</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">3-я</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">4-я</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">5-я</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">6-я</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">7-я</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">8-я</FONT></TD>

</TR>
<TR><TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<FONT FACE="Arial"><P ALIGN="CENTER">Время</FONT></TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">08:00-09:30 </TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">09:40-11:10 </TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">11:30-13:00 </TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">13:10-14:40 </TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">14:50-16:20 </TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">16:30-18:00 </TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">18:10-19:40 </TD>
<TD WIDTH="11%" VALIGN="TOP" HEIGHT=28>
<P ALIGN="CENTER">19:50-21:20 </TD>

</TR>